<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="calculadora.ico" />
    <title>Acerca</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/cuaderno.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;500;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <nav>
        <div class="box">
            <span class="titulo"><a href="/"><img src="/img/calculadora.png" width="40em">SUPERCALCULADORA</a></span>
            <span></span>
            <div>
                <span style="float: right;margin-right: 10px;padding: 2px;" class="titulo"><a href="/about"><img src="/img/information.png"
                    width="40em" alt="ACERCA DE"></a></span>
            </div>
        </div>
    </nav>
    <div id="paper">
        <div id="pattern">
            <div id="content">
                <center>
                    <span><img src="/img/information.png" alt="historial" width="20em">ACERCA DE</span>
                </center>
                <h1 style="margin-bottom: 0.2em;">EL PROYECTO</h1>
                <span>Consiste en una calculadora que mediante la solicitud a una API, devuelve el resultado de las operaciones que se le solicitan, pudiendo ser alguna de las siguientes:</span>
                <ul style="margin-left: 2em;margin-top: 0.3em;">
                    <li>Suma</li>
                    <li>Resta</li>
                    <li>Multiplicacion</li>
                    <li>División</li>
                    <li>Potencia</li>
                </ul>
                <span>Las herramientas utilizadas para la creación de esta supercalculadora fueron las siguientes:</span>
                <ul style="margin-left: 2em;margin-top: 0.3em;">
                    <li>Node.js</li>
                    <li>Modulo Express</li>
                    <li>Modulo Nodemon</li>
                    <li>Modulo EJS</li>
                </ul>
                <span>Puedes ver y probar el funcionamiento de la calculadora dando click en <a href="/">IR A CALCULADORA</a> o ver el repositorio de github <a href="https://github.com/WilliansAlb/Supercalculadora">WilliansAlb</a></span>
                <h1 style="margin-top: 0.8em;">EL DESARROLLADOR</h1>
                <span>Willians Alberto Orozco, estudiante de ingenieria en Ciencias y Sistemas del Centro Universitario de Occidente de la USAC</span>
            </div>
        </div>
    </div>
</body>

</html>